<div class="card mt-5">
    <div class="card-header text-center">
        <h4>{{title}}</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-info" *ngIf="students?.length==0">There are no students in the system.</div>
        <table class="table table-dark table-hover table-striped" *ngIf="students?.length>0">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students">
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.createAt | date: 'longDate'}}</td>
                    <td><i class="bi bi-pencil m-2" [routerLink]="['/students/form', student.id]" type="button"></i>
                        <i class="bi bi-trash3 m-2" type="button" (click)="delete(student)"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
        <button class="btn btn-dark" routerLink="/students/form">New student</button>
        </div>
    </div>
</div>