<div class="card mt-5">
    <div class="card-header text-center">
        <h4>{{title}}</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-info" *ngIf="list?.length==0">There are no students in the system.</div>
        <table class="table table-dark table-hover table-striped" *ngIf="list?.length>0">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Name</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Tests</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of list">
                    <td>{{student.id}}</td>
                    <td><img *ngIf="student.photoHashCode" [src]="baseEndpoint + '/uploads/img/' + student.id + '?photoHashCode=' + student.photoHashCode"
                        class="img-thumbnail rounded-4" style="width: 64px" >
                        <img *ngIf="!student.photoHashCode" [src]="'/assets/images/no-photo.png'"
                        class="img-thumbnail rounded-4 bg-black border-dark" style="width: 64px "></td>
                    <td>{{student.name}}</td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.createAt | date: 'longDate'}}</td>
                    <td><button class="btn btn-secondary btn-sm" [routerLink]="['/students/answer-test', student.id]">Answer</button></td>
                    <td><i class="bi bi-pencil m-2" [routerLink]="['/students/form', student.id]" type="button"></i>
                        <i class="bi bi-trash3 m-2" type="button" (click)="delete(student)"></i></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRecords"
              [pageSize]="totalPerPage"
              [pageIndex]="actualPage"
              [pageSizeOptions]="pageSizeOptions"
              (page)="paginate($event)"
              aria-label="Select page"
              showFirstLastButtons
              class="float-left mx-2">
        </mat-paginator>
        <div class="text-center">
        <button class="btn btn-dark" routerLink="/students/form">New student</button>
        </div>
    </div>
</div>