<div class="card mt-5">
    <div class="card-header text-center">
        <h4>{{title}}</h4>
    </div>
    <div class="card-body">
        <div class="alert alert-info" *ngIf="list?.length==0">There are no courses in the system.</div>
        <table class="table table-dark table-hover table-striped" *ngIf="list?.length>0">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Students</th>
                    <th scope="col">Tests</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of list">
                    <td>{{course.id}}</td>
                    <td>{{course.name}}</td>
                    <td><button class="btn btn-secondary btn-sm" [routerLink]="['/courses/add-students', course.id]">add ({{course.students.length}})</button></td>
                    <td><button class="btn btn-secondary btn-sm" [routerLink]="['/courses/add-tests', course.id]">add ({{course.tests.length}})</button></td>
                    <td>{{course.createAt | date: 'longDate'}}</td>
                    <td><i class="bi bi-pencil m-2" [routerLink]="['/courses/form', course.id]" type="button"></i>
                        <i class="bi bi-trash3 m-2" type="button" (click)="delete(course)"></i></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRecords"
              [pageSize]="totalPerPage"
              [pageIndex]="actualPage"
              [pageSizeOptions]="pageSizeOptions"
              (page)="paginate($event)"
              aria-label="Select page"
              showFirstLastButtons
              class="float-left mx-2">
        </mat-paginator>
        <div class="text-center">
        <button class="btn btn-dark" routerLink="/courses/form">New course</button>
        </div>
    </div>
</div>
